.subfooter {
    &__content {
        text-align: center;
        @include atSmall {
            text-align: left;
            border-top: 1px solid $color-border;
            padding-top: 0.5rem;
        }
    }
    &__text {
        color: $color-text-gray-dark;
        font-size: 1.167rem;
        line-height: 2.5rem;
        font-family: $reg;
        @include atSmall {
            font-size: 0.875rem;
            line-height: 2.0625rem;
        }
    }
}