.section-box {
    background-color: $color-gray;
    &__content {
        @include atSmall {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        &-item {
            @include atSmall {
                width: 25%;
            }
            &__img {
                width: 100%;
                height: auto;
            }
            & + & {
                margin-top: 3.333rem;
                @include atSmall {
                    margin-top: 0;
                    margin-left: 1.25rem;
                }
            }
        }
    }
}